<ul class="list-group">
  <li
    (click)="resetCurrentColor()"
    [class]="getAllColorClass()"
    routerLink="/cars"
  >
    <h5>Tüm Renkler</h5>
  </li>

  <input
    type="text"
    [(ngModel)]="filterText"
    class="form-control"
    id="filterText"
    placeholder="arama ifadesi giriniz"
  />
  <div class="alert alert-success" *ngIf="filterText.length > 0">
    {{ filterText }} aradınız
  </div>
  <li
    (click)="setCurrentColor(color)"
    [class]="getCurrentColorClass(color)"
    *ngFor="let color of colors | filterColorPipe: filterText"
    routerLink="/cars/color/{{ color.id }}"
  >
    {{ color.colorName }}
  </li>
</ul>
