<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-primary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>
<h2 align="center">Car Details</h2>
<div class="row">
  <div class="col-md-12 mb-3">
    <div
      id="carouselExampleControls"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div *ngFor="let img of carImages" class="carousel-item active">
          <img
            src="https://localhost:44324/Uploads/Images/{{ img.imagePath }}"
            height="450"
            class="rounded mx-auto d-block w-75"
            alt="..."
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>

<div>
  <table *ngIf="dataLoaded == true" class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Araba Adı</th>
        <th>Marka</th>
        <th>Renk</th>
        <th>Model Yılı</th>
        <th>Günlük Fiyat</th>
        <th>Açıklama</th>
        <th>Kirala</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let carDetail of carDetails">
        <td>{{ carDetail.carId }}</td>
        <td>{{ carDetail.carName }}</td>
        <td>{{ carDetail.brandName }}</td>
        <td>{{ carDetail.colorName }}</td>
        <td>{{ carDetail.modelYear }}</td>
        <td>{{ carDetail.dailyPrice }}</td>
        <td>{{ carDetail.description }}</td>
        <td>
          <button
            type="button"
            class="btn btn-success"
            routerLink="/cars/rental/add"
          >
            Kiralamak için tıklayınız
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
