<table class="table">
  <thead>
    <h5>Kiralamalar</h5>
    <tr>
      <th>Id</th>
      <th>Araba</th>
      <th>Müşteri Adı</th>
      <th>Kiralama Tarihi</th>
      <th>Teslim Tarihi</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rentalDetail of rentalDetails">
      <td>{{ rentalDetail.rentalId }}</td>
      <td>{{ rentalDetail.brandName }}</td>
      <td>
        {{ rentalDetail.customerFirstName }} {{ rentalDetail.customerLastName }}
      </td>
      <td>{{ rentalDetail.rentDate | date: "dd-MM-yyyy hh:mm" }}</td>
      <td>{{ rentalDetail.returnDate | date: "dd-MM-yyyy hh:mm" }}</td>
    </tr>
  </tbody>
</table>
